<div class="ui tabular menu">
  <a class="active item" id="home-tab" href="/">
    Home
  </a>
  <%= link_to "Transactions", transactions_path, data: {turbo_frame: "transactions"}, class: "item", id: "transactions-tab" %>
  <a class="item" id="analytics-tab" href="/analytics">
    Analytics
  </a>
  <a class="item" id="budgets-tab" href="/budgets">
    Budgets
  </a>
  <div class="right item">
    <%= turbo_frame_tag "search", target: "transactions" do %>
    <div class="ui form" id="search-transactions">
      <div class="ui icon input">
        <%= form_with url: '/transactions', method: :get do |form| %>
          <%= text_field_tag :q, params[:q], placeholder: "Search Transactions", class: "ui search"%>
        <% end %>
        <i class="search icon"></i>
      </div>
    </div>
    <% end %>
    <div id="account-options" class="ui dropdown link">
      <span class="text">Account Options</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" id="link-button">Link New Account</div>
        <div class="item" id="refresh-button">Refresh Accounts</div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "base" %>
