<div class="ui tabular menu">
  <a class="active item" id="home-tab" href="/">
    Home
  </a>
  <%= link_to "Transactions", transactions_path, data: {turbo_frame: "transactions", turbo_action: "advance"}, class: "item", id: "transactions-tab" %>
  <a class="item" id="analytics-tab" href="/analytics">
    Analytics
  </a>
  <a class="item" id="budgets-tab" href="/budgets">
    Budgets
  </a>
  <div class="right item">
    <%= turbo_frame_tag "search", target: "transactions" do %>
      <div id="filter-form" class="ui button">
        <span class="text">Filter Transactions</span>
        <i class="filter icon"></i>
      </div>
      <div class="ui flowing popup">
        <div class="menu">
          <div class="item">
            <%= form_with url: '/transactions', method: :get do |form| %>
              <div class="field">
                <%= form.label :Search %>
                <div class="ui input">
                  <%= form.text_field :q, placeholder: "Search Transactions" %>
                </div>
              </div>
              <div class="field">
                <%= form.label "Filter by Account" %>
                <%= form.select :account_id, Account.all.map{ |a| [a.name, a.id] }, {include_blank: true}, {class: 'ui dropdown'} %>
              </div>
              <div class="field">
                <%= form.label "Filter by Category" %>
                <%= form.select :plaid_category_id, PlaidCategory.all.map{ |a| [humanized_category(a), a.id] }, {include_blank: true}, {class: 'ui dropdown'} %>
              </div>
              <button class="ui button" type="submit">
                Save
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div id="account-options" class="ui dropdown link">
      <span class="text">Account Options</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" id="link-button">Link New Account</div>
        <div class="item" id="refresh-button">Refresh Accounts</div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "base" %>
