<%= stylesheet_link_tag "application", media: "all" %>

<%= turbo_frame_tag 'home' do %>
<body>
  <div class="ui divided padded grid">
    <%= render "shared/dimmer" %>
    <div class="five wide column">
      <div class="left floated column">
      <div class="ui accordion button" id="add-account-button">
        <div class="active title">
          <strong>Add New Account</strong>
        </div>
        <div class="content">
          <div id="create-account-form" class="ui form">
            <%= form_for :account, url: accounts_path do |form| %>
              <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name %>
              </div>
              <div class="field">
                <%= form.label :institution_name %>
                <%= form.text_field :institution_name %>
              </div>
              <div class="field">
                <%= form.label :account_number_last_4 %>
                <%= form.text_field :mask %>
              </div>
              <div class="field">
                <%= form.label :account_type %>
                <%= form.select :type, Account::ACCOUNT_TYPES.keys, {include_blank: true}, {class: 'ui dropdown'} %>
              </div>
              <div class="field">
                <%= form.label :account_sub_type %>
                <%= form.select :sub_type, [], {}, {class: 'ui dropdown'} %>
              </div>
              <div class="field">
                <%= form.label :current_balance %>
                <%= form.text_field :balance %>
              </div>
              <span>
                <button class="ui button" type="submit">
                  Save Account
                </button>
                <i id="successIconAccount" class="green check icon"></i>
                <i id="failureIconAccount" class="red times icon"></i>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="six wide column">
      <h3 class="ui center aligned header">Accounts Overview</h3>
      <%= render partial: "shared/account_refresh_error" %>
      <div id="accounts">
        <% @accounts.group_by{ |a| a.account_type}.each do |type, accounts| %>
          <div class="ui fluid accordion">
            <div class="title split-title">
              <span>
                <i class="dropdown icon"></i>
                <strong><%= type %><%= " (#{accounts.count})"%></strong>
              </span>
              <span>
                <% balance_klass = Account::DEBT_ACCOUNT_TYPES.include?(type) ? 'red-text' : 'green-text' %>
                <strong class='<%= balance_klass %>'><%= number_to_currency(Account.current_balance(current_user.id, accounts.pluck(:id)).round(2)) %></strong>
              </span>
            </div>
            <div class="content">
              <div class="ui list padded">
                <% accounts.each do |account| %>
                  <div class="item">
                    <div class="content">
                      <div class="left floated">
                        <%= inline_svg('angle_icon.svg') %>
                        <%= inline_svg('dash-icon.svg') %>
                        <%= account.name %>
                      </div>
                      <div class="right floated">
                        <%= number_to_currency(account.balances.last&.amount.round(2)) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="ui three column row">
            <div class="left floated column">
              <h4>Estimated Net Worth</h4>
            </div>
            <div class="right aligned right floated column">
              <h4><%= number_to_currency(@net_worth) %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui grid">
        <div class="two column row">
          <div class="right floated right aligned column">
            <div class="ui accordion button" id="add-account-button">
              <div class="active title">
                <strong>Record Balance</strong>
              </div>
              <div class="content">
                <div id="create-balance-form" class="ui form">
                  <%= form_for :balance, url: balances_path do |form| %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <div class="field">
                      <%= form.label :account%>
                      <%= form.select :account_id, Account.all.map{ |a| [a.name, a.id] }, {include_blank: true}, {class: 'ui dropdown'} %>
                    </div>
                    <div class="field">
                      <%= form.label :current_balance %>
                      <%= form.text_field :balance %>
                    </div>
                    <div class="field">
                      <%= form.label :date %>
                      <%= form.date_field :date, value: Date.current %>
                    </div>
                    <span>
                      <button class="ui button" type="submit">
                        Save Balance
                      </button>
                      <i id="successIconBalance" class="green check icon"></i>
                      <i id="failureIconBalance" class="red times icon"></i>
                    </span>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<% end %>

<%= javascript_include_tag "plaid" %>
<%= javascript_include_tag "accounts" %>
