<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="My description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Personal Finances</title>
</head>

<%= stylesheet_link_tag "application", media: "all" %>
<body>
  <button id="link-button">Link Account</button>
  <div id="accounts">
    <table>
      <thead>
        <th>Name</th>
        <th>Account Type</th>
        <th>Number</th>
        <th>Institution</th>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.account_type %></td>
            <td><%= account.mask %></td>
            <td><%= account.institution_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>

<%= javascript_include_tag "plaid" %>
