<%= stylesheet_link_tag "application", media: "all" %>

<body>
  <div class="ui padded grid">
    <%= render "shared/dimmer" %>
    <div class="two wide column">
    </div>
    <div class="twelve wide column">
      <h2 class="ui center aligned header">Transactions</h2>
      <%= render partial: "shared/account_refresh_error" %>
        <div id="recent_transactions">
          <table class="ui selectable padded basic table">
            <thead>
              <th>Date</th>
              <th>Description</th>
              <th>Account</th>
              <th>Category</th>
              <th>Amount</th>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <% amount_klass = transaction.amount < 0 ? 'green-text' : 'black-text' %>
                <% row_klass = transaction.pending ? 'pending-transaction-background': '' %>
                <tr class="<%= row_klass %>" data-url="<%= transaction_path(transaction) %>" >
                  <td><%= short_format_date(transaction.date) %></td>
                  <td><%= transaction.description[..40] %></td>
                  <td><%= transaction.account&.name %></td>
                  <td><%= humanized_category(transaction.plaid_category) %></td>
                  <td class="<%= amount_klass %>"><%= number_to_currency(transaction.amount * -1.0) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <button class='ui right icon button' id='previous-page-button'>
            <i class='left chevron icon'></i>
          </button>
          <button class='ui right floated icon button' id='next-page-button'>
            <i class='right chevron icon'></i>
          </button>
        </div>
    </div>
    <div class="two wide column">
    </div>
  </div>
</body>

<%= javascript_include_tag "plaid" %>
<%= javascript_include_tag "transactions" %>
