<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="My description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Personal Finances</title>
</head>

<%= stylesheet_link_tag "application", media: "all" %>

<body>
  <%= form_for :user, url: '/upload_csv' do |u| %>
    <%= u.file_field :transaction_csv %>
    <%= u.submit 'Upload CSV' %>
  <% end %>

  <div class="ui divided padded grid">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
      <h3 class="ui center aligned header">Transactions</h3>
        <div id="recent_transactions">
          <table class="ui selectable basic table">
            <thead>
              <th>Date</th>
              <th>Description</th>
              <th>Category</th>
              <th>Amount</th>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr data-url="<%= transaction_path(transaction) %>" >
                  <td><%= short_format_date(transaction.date) %></td>
                  <td><%= transaction.description %></td>
                  <td><%= transaction.detailed_category %></td>
                  <td><%= number_to_currency(transaction.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="three wide column">
    </div>
  </div>
</body>

<%= javascript_include_tag "plaid" %>
