<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="My description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Personal Finances</title>
</head>

<%= stylesheet_link_tag "application", media: "all" %>

<body>
  <div class="ui divided padded grid">
    <div class="three wide column">
    </div>
    <div class="ten wide column">
      <h3 class="ui center aligned header">Transaction Details</h3>
        <div>
          <%= form_for @transaction do |f| %>

            Date: <%= f.text_field :date %>
            Amount: <%= f.text_field :amount %>
            Description: <%= f.text_field :description %>
            Category: <%= grouped_collection_select(:transaction,
                                                    :category_id,
                                                    PlaidCategory.top_level_records,
                                                    :children,
                                                    :most_specific_category,
                                                    :category_id,
                                                    :most_specific_category,
                                                    { :selected => [@transaction.category_id] }) %>
            <%= f.submit %>
          <% end %>
        </div>
    </div>
    <div class="three wide column">
    </div>
  </div>
</body>

<%= javascript_include_tag "plaid" %>
