<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="My description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Personal Finances</title>
</head>

<%= stylesheet_link_tag "application", media: "all" %>

<body>
  <div class="ui divided padded grid">
    <div class="five wide column">
    </div>
    <div class="six wide column">
      <h3 class="ui center aligned header">Transactions Details</h3>
        <div>
          <%= form_for @transaction do |f| %>
            Date: <%= f.text_field :date %>
            Amount: <%= f.text_field :amount %>
            <%= f.submit %>
          <% end %>
        </div>
    </div>
    <div class="five wide column">
    </div>
  </div>
</body>

<%= javascript_include_tag "plaid" %>
