<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="My description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Personal Finances</title>
</head>

<%= stylesheet_link_tag "application", media: "all" %>

<body>
  <div class="ui divided padded grid">
    <div class="one wide column">
    </div>
    <div class="fourteen wide column">
      <h3 class="ui center aligned header">Transaction Details</h3>
        <div>
          <%= form_for @transaction, html: { :class => 'ui form', :id => 'edit-transaction-form' }, remote: true do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="fields">
              <div class="field">Date: <%= f.text_field :date %></div>
              <div class="field">Amount: <%= f.text_field :amount %></div>
              <div class="field">Description: <%= f.text_field :description %></div>
              <div class="field">
                Category:
                <input list="plaid_category_id" id="transaction_category_id" name="transaction[plaid_category_id]" placeholder="<%= humanized_category(@transaction.plaid_category) %>" />
                <datalist id="plaid_category_id">
                  <% PlaidCategory.all.each do |category| %>
                    <% if @transaction.plaid_category_id == category.id %>
                      <option value="<%= category.id %>" label="<%= humanized_category(category) %>" selected=true></option>
                    <% else %>
                      <option value="<%= category.id %>" label="<%= humanized_category(category) %>"></option>
                    <% end %>
                  <% end %>
                </datalist>
              </div>
              <div class="field">
                <%= f.submit :id => 'edit-transaction-button', :class => 'ui fluid basic primary bottom button' %>
              </div>
              <div class="field"><i id="successIcon" class="green check icon"></i></div>
              <div class="field"><i id="failureIcon" class="red times icon"></i></div>
            </div>
          <% end %>
        </div>
      <div class="ui hidden divider"></div>
      <h3 class="ui center aligned header">Split Transactions</h3>
      <div id='grouped-transaction-div'>
        <% @transaction.grouped_transactions.each do |grouped_transaction| %>
          <%= form_for grouped_transaction, html: { :class => 'ui form', :id => 'edit-transactions-form' }, remote: true do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="fields">
              <div class="field">Date: <%= f.text_field :date %></div>
              <div class="field">Amount: <%= f.text_field :amount %></div>
              <div class="field">Description: <%= f.text_field :description %></div>
              <div class="field">
                <input list="grouped_category_id" id="transaction_category_id" name="transaction[plaid_category_id]" placeholder="<%= humanized_category(@transaction.plaid_category) %>" />
                Category: <datalist id="grouped_category_id">
                            <% PlaidCategory.all.each do |category| %>
                              <% if grouped_transaction.plaid_category_id == category.id %>
                                <option value="<%= category.id %>" label="<%= humanized_category(category) %>" selected=true></option>
                              <% else %>
                                <option value="<%= category.id %>" label="<%= humanized_category(category) %>"></option>
                              <% end %>
                            <% end %>
                          </datalist>
              </div>
              <div class="field">
                <%= f.submit :id => 'grouped-transaction-button', :class => 'ui fluid basic primary bottom button' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id='grouped-transaction-div'>
        <%= form_for @split_transaction, html: { :class => 'ui form', :id => 'split-transactions-form'}, url: '/split_transactions', remote: true do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= f.hidden_field(:parent_transaction_id, value: @transaction.id) %>
          <div class="fields">
            <div class="field">Date: <%= f.text_field :date %></div>
            <div class="field">Amount: <%= f.text_field :amount %></div>
            <div class="field">Description: <%= f.text_field :description %></div>
            <div class="field">
              <%= f.submit :id => 'split-transaction-button', :class => 'ui fluid basic primary bottom button' %>
            </div>
            <div class="field"><i id="successIconSplit" class="green check icon"></i></div>
            <div class="field"><i id="failureIconSplit" class="red times icon"></i></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="one wide column">
      <%= button_to "Hard Delete", transaction_hard_delete_path(@transaction) %>
    </div>
  </div>
</body>

<%= javascript_include_tag "rails-ujs" %>
<%= javascript_include_tag :cocoon %>
