<!DOCTYPE html>
%html
  %head
    %title
      Quaestor
    = csrf_meta_tags
    = csp_meta_tag

    %script{ src: "https://cdn.plaid.com/link/v2/stable/link-initialize.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" }
    %script{ src: "https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js" }
    %script{ src: "https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js" }
    %link{ rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css" }
    %link{ rel: 'icon', type: 'image/png', href: '/favicon.png' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

  %body
    = render "shared/header"
    = yield
