<%= stylesheet_link_tag "application", media: "all" %>

<%= turbo_frame_tag "home" do %>
<body>
  <div class="ui card">
    <div class="content">
      <div class="header"><%= @account.name %></div>
    </div>
    <div class="content">
      <div class="ui list">
        <div class="item">
          <b>Account ID:</b> <%= @account.mask || 'XXXX' %>
        </div>
        <div class="item">
          <b>Institution:</b> <%= @account.institution_name %>
        </div>
        <div class="item">
          <b>Account Type</b> <%= @account.account_sub_type %>
        </div>
      </div>
    </div>
  </div>
  <div id="fix-account-button" class="ui button">Fix Broken Account Connection</div>
</body>
<% end %>

<%= javascript_include_tag "plaid" %>
